html,
body,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
button {
    font-family: Inter;
    color: #060041;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

:root {
    --bg-white: #fff;
    --bg-little-white: #fbfbfb;
    --bg-dark-blue: #0f1b2d;
    --bg-light-blue: #147cdd;
    --bg-light-grey: #F5F6F8;
    --bg-little-light-grey: #e0e0e0;
    --color-grey: #6e6d6d;
    --border-grey: #ccc;
    --color-light-grey: #a3a3a3;
    --light-green: #d8ece0;
    --green: #b3e7c9;
    --border-green: #5bb880;
    --light-yellow: #FBCD87;
    --yellow: #ffdead;
    --border-yellow: #c9984f;
    --light-red: #ECB3BA;
    --red: #be656f;
    --border-red: #852732;
    --alert: #ff0000;
}

@font-face {
    font-family: JetBrains;
    src: url(../fonts/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter_28pt-Regular.ttf);
}

section {
    min-height: 100dvh;
    width: 100%;
    padding: 30px 100px;
    background: var(--bg-light-grey);
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--bg-white);
    padding: 15px 20px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid var(--color-light-grey);
}

.number {
    color: var(--color-grey);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        max-height: 80px;
    }

    p {
        font-size: 25px;
        font-weight: 800;
        color: var(--bg-dark-blue);

        span {
            color: var(--bg-light-blue);
        }
    }
}

.nav-hero-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;

    li {
        a {
            color: var(--color-grey);
            font-family: JetBrains;
            font-size: 14px;
            cursor: pointer;
        }
    }
}

.mobile-menu {
    position: absolute;
    padding: 20px 5px;
    background-color: var(--bg-dark-blue);
    top: 0;
    left: -50%;
    height: 100dvh;
    width: 50%;
    transition: .5s ease-in;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        img {
            max-height: 80px;
        }
    }

    .nav-hero-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style-type: none;

        li {
            a {
                font-family: JetBrains;
                font-size: 14px;
                cursor: pointer;
                color: var(--bg-white);
            }
        }
    }
}

.active {
    left: 0 !important;
}

.nav-mobile-menu {
    width: 35px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    cursor: pointer;
    display: none;
    background: transparent;
}

.nav-mobile-menu div {
    transition: .3s ease-in;
    width: 75%;
    height: 2px;
    background: rgb(0, 0, 0);
    margin-bottom: 7px;
}

.nav-mobile-menu div:first-child {
    width: 100%;
    margin-bottom: 7px;
}

.nav-mobile-menu div:last-child {
    width: 50%;
    margin-bottom: 0px;
}

.close {
    div {
        width: 100%;
        margin: 0;
        justify-content: center;
        margin-top: -2px;
        transform: rotate(45deg);
    }

    div:first-child {
        margin: 0;
        transform: rotate(-45deg);
    }

    div:last-child {
        display: none;
    }
}

button {
    transition: .3s ease-in;
}

.btn {
    background: var(--bg-dark-blue);
    padding: 20px 30px;
    color: var(--bg-white);
    border-radius: 15px;
    font-size: 15px;
    font-weight: 750;
    cursor: pointer;
}

.btn:hover {
    background: var(--bg-white);
    color: var(--bg-dark-blue);
    border: 1px solid var(--bg-dark-blue);
}

.btn-white {
    background: var(--bg-white);
    padding: 20px 30px;
    color: var(--bg-dark-blue);
    border: 1px solid var(--bg-dark-blue);
    border-radius: 15px;
    font-size: 15px;
    font-weight: 750;
    cursor: pointer;
}

.btn-white:hover {
    background: var(--bg-dark-blue);
    color: var(--bg-white);
    border: 1px solid var(--bg-white);
}

.btn-transparent {
    background: transparent;
    border: 1px solid var(--bg-white);
    padding: 20px 30px;
    color: var(--bg-white);
    border-radius: 15px;
    font-size: 15px;
    font-weight: 750;
    cursor: pointer;
}

.btn-transparent:hover {
    background: var(--bg-white);
    color: var(--bg-dark-blue);
    border: none;
}

.home {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 60px;
    line-height: 0.8;
    text-align: start;
}

.subtitle {
    font-size: 50px;
    line-height: 1;
    text-align: start;
}

.call-to-action {
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;

    p {
        margin-top: 15px;
        color: var(--color-grey);
        font-size: 20px;
    }
}

.buttons {
    margin: 25px 0;
    display: flex;
    gap: 15px;
}

.interface {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    margin: auto;
}

.interface-grid {
    height: 400px;
    width: 100%;
    background-image: url('../images/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.interface-grid::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    z-index: 9;
}

.rect {
    height: 80px;
    width: 80px;
    border-radius: 3px;
}

.light-green {
    background-color: var(--light-green);
    border: 1px solid var(--border-green);
}

.green {
    background-color: var(--green);
    border: 1px solid var(--border-green);
}

.light-yellow {
    background-color: var(--light-yellow);
    border: 1px solid var(--border-yellow);
}

.yellow {
    background-color: var(--yellow);
    border: 1px solid var(--border-yellow);
}

.light-red {
    background-color: var(--light-red);
    border: 1px solid var(--border-red);
}

.red {
    background-color: var(--red);
    border: 1px solid var(--border-red);
}

.aimed {
    position: relative;
}

.aimed::after {
    position: absolute;
    content: "";
    left: -8px;
    top: 45%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 3px solid var(--alert);
    background: var(--bg-white);
}

.article {
    font-family: JetBrains;
    color: var(--bg-light-blue);
    font-weight: 600;
}

.text {
    max-width: 50%;
    display: flex;
    flex-direction: column;

    p {
        margin-top: 20px;
        color: var(--color-grey);
        font-size: 18px;
    }
}

#problema {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: var(--bg-white);
}

.flood {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 30px;

    img {
        max-width: 50%;
        border-radius: 20px;
    }
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.card {
    padding: 28px;
    background: var(--bg-white);
    border: 1px solid var(--border-grey);
    border-radius: 20px;
    width: 100%;
    background: var(--bg-light-grey);

    p {
        font-family: JetBrains;
        font-size: 30px;
        color: var(--bg-dark-blue);
    }

    .description {
        font-family: Inter;
        margin: 10px 0;
        font-size: 16px;
    }

    .source {
        color: var(--color-light-grey);
        font-size: 13px;
    }
}

#tecnologia {
    flex-direction: column;
}

.moon {
    width: 100%;
    display: flex;

    .text {
        max-width: 65%;

        p {
            max-width: 70%;
        }
    }

    img {
        max-width: 35%;
        border-radius: 20px;
    }
}

.moon-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 100%;
    padding: 30px 0;

    .card {
        background: var(--bg-white);
        position: relative;
    }
}

.card-title {
    width: 100%;
    display: flex;
    font-size: 14px;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 14px;
        font-weight: 800;
        color: var(--bg-light-blue);
    }
}

.decoration {
    padding: 5px 8px;
    border: 1px solid var(--color-light-grey);
    border-radius: 50px;
    color: var(--color-light-grey) !important;
}

.card-desc {
    padding: 15px 0;
    font-size: 16px !important;
    color: var(--color-grey) !important;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--color-light-grey);
    border-radius: 5px;
    margin: 10px 0;
}

.card-footer {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;

    img {
        max-height: 30px;
    }

    p {
        font-size: 14px;
    }
}

#objetivos {
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background: var(--bg-white);
}

.objectives-grid {
    width: 75%;
    margin: auto;
    background: var(--bg-white);
    border: 1px solid var(--color-grey);
    height: auto;
    border-radius: 20px;
}

.objective {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-grey);

    p {
        padding: 10px;
        text-align: start;
    }
}

.objective-img {
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    display: flex;
    margin: 0 20px;
    justify-content: center;
    align-items: center;

    img {
        max-width: 30px;
        margin: 5px;
    }
}

.objective-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
        padding: 0 !important;
        color: var(--color-grey);
    }

    h3 {
        color: var(--bg-dark-blue);
    }
}

.objective:last-child {
    border-bottom: none;
}

#publico {
    background: var(--bg-light-grey);
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.publico {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 30px;
    flex-wrap: wrap;
}

.publico-content {
    width: 30%;
    background: var(--bg-white);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.05);
}

#defesa {
    background-image: url('../images/defesa.jpg') !important;
}

#hospital {
    background-image: url('../images/hospital.jpeg') !important;
}

.publico-image {
    width: 100%;
    min-height: 220px;
    background-image: url('../images/rain.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px 15px 0px 0px;
}

.publico-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;

    .article {
        font-size: 13px;
        margin-bottom: 15px;
    }

    p {
        margin: 15px 0;
        color: var(--color-grey);
    }

    ul {
        list-style-type: none;
    }

    li {
        color: var(--color-grey);
        line-height: 2;
    }
}

.color-green {
    color: var(--border-green);
}

#beneficios {
    background: var(--bg-white);
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.beneficios-row1,
.beneficios-row2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.col-lg-8 {
    width: 75% !important;
}

.col-lg-6 {
    width: 50% !important;
}

.row1-item1,
.row1-item2 {
    background: var(--bg-little-white);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    padding: 20px;
    border: 1px solid var(--light-green);
    border-radius: 15px;
}

.row2-item1,
.row2-item2,
.row2-item3 {
    background: var(--bg-little-white);
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    padding: 20px;
    border: 1px solid var(--light-green);
    border-radius: 15px;
}

.row1-item1,
.row1-item2,
.row2-item1,
.row2-item2,
.row2-item3 {
    height: auto;

    h3 {
        margin: 15px 0;
        color: var(--bg-dark-blue);
    }

    p {
        color: var(--color-grey);
    }
}

.style {
    background-color: var(--bg-dark-blue);

    h3,
    p {
        color: var(--bg-white);
    }

    .number {
        color: var(--bg-white);
    }

    .beneficio-image {
        background: #bfd9f24d;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.beneficio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    span {
        font-family: JetBrains;
        color: var(--color-grey);
    }
}

.beneficio-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-little-light-grey);
    border-radius: 15px;

    img {
        max-height: 50px;
        padding: 10px;
        filter: invert(36%) sepia(84%) saturate(2334%) hue-rotate(196deg) brightness(101%) contrast(105%);
    }
}

#aplicacao {
    background: var(--bg-light-grey);
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.aplicacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
}

.aplicacao-image {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px 15px 0 0;
    background-image: url('../images/deslizamento.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aplicacao-desc {
    width: 100%;
    height: auto;
    background-color: var(--bg-white);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.2);

    p {
        padding: 10px;
        color: var(--color-grey);
        text-align: center;
    }
}

.aplicacao-exemplos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 0;
}

.exemplo {
    width: 25%;
    background: var(--bg-white);
    border-radius: 15px;
    padding: 20px;

    h3 {
        color: var(--bg-dark-blue);
        margin: 15px 0;
    }

    p {
        color: var(--color-grey);
    }
}

.exemplo-title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 10px;

    span {
        font-family: JetBrains;
        color: var(--bg-light-blue);
    }
}

.exemplo-circle {
    height: 8px;
    width: 8px;
    background: var(--bg-light-blue);
    border-radius: 50%;
}

.exemplo-circle-2 {
    height: 3px;
    width: 3px;
    background: var(--bg-light-blue);
    border-radius: 50%;
}

.exemplo-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-little-light-grey);
    border-radius: 15px;
    width: 50px;
    height: 50px;
    margin: 15px 0;

    img {
        max-height: 50px;
        padding: 10px;
    }
}

.aplicacao-call-to-action {
    width: 100%;
    background: var(--bg-dark-blue);
    border-radius: 20px;
    padding: 45px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aplicacao-cta-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 50%;

    h1 {
        color: var(--bg-white);
        line-height: 1.3;
        margin-bottom: 15px;
    }

    p {
        color: var(--color-grey);
        font-weight: 800;
    }
}

.aplicacao-cta-buttons {
    display: flex;
    gap: 20px;
}

Footer {
    width: 100%;
    height: auto;
    background: var(--bg-dark-blue);
    padding: 30px 60px;
    display: flex;
    align-items: start;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 5px;

    img {
        max-height: 80px;
    }

    p {
        font-size: 25px;
        font-weight: 800;
        color: var(--bg-white) !important;

        span {
            color: var(--bg-light-blue);
        }
    }
}

.footer-text {
    margin-top: 20px;
    color: var(--bg-white);
    max-width: 50%;
}

.footer-section {
    min-width: 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.footer-title {
    font-weight: 700;
    color: var(--color-grey);
    text-align: start;
    font-family: Inter;
}

.footer-list {
    list-style-type: none;

    li {
        color: var(--bg-white);

    }
}

#form{
    background: var(--bg-white);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-title{
    font-size: 50px;
    text-align: center  ;
}

form{
    padding: 25px;
}

.d-none{
    display: none;
}

.d-block{
    display: block;
}

@media(max-width: 1199px) {
    .text {
        min-width: 100%;
    }

    .article {
        text-align: start !important;
    }

    .flood {
        flex-direction: column;

        img {
            max-width: 100%;
        }
    }

    .cards {
        width: 100%;
    }

    .btn-header {
        display: none;
    }

    .number {
        display: none;
    }

    .rect {
        height: 50px;
        width: 50px;
    }

    .call-to-action {
        max-width: 100%;
    }

    .moon {
        flex-direction: column;

        img {
            max-width: 100%;
            padding: 15px;
        }

        .text {
            p {
                min-width: 100%;
            }
        }
    }
}

@media(max-width: 991px) {
    .nav-hero-menu {
        display: none;
    }

    .nav-mobile-menu {
        display: flex;
    }

    .moon-grid {
        grid-template-columns: 1fr 1fr;
    }

    .publico {
        flex-direction: column;
        padding: 0;
    }

    .publico-content {
        width: 100%;
        margin: 20px 0;
    }

    .aplicacao-exemplos {
        flex-direction: column;
        align-items: center;
    }

    .exemplo {
        width: 100%;
    }

    .aplicacao-call-to-action {
        flex-direction: column;
    }

    .aplicacao-cta-text {
        max-width: 100% !important;
        margin-bottom: 20px;
    }
}


@media(max-width: 850px) {
    section {
        padding: 30px 40px;
    }

    .interface {
        width: 100%;
    }

    .rect {
        height: 45px;
        width: 45px;
    }

    .aplicacao-image {
        height: 350px;
    }

    .beneficios-row1,
    .beneficios-row2 {
        flex-direction: column;
        align-items: center;
    }

    .row1-item1,
    .row1-item2,
    .row2-item1,
    .row2-item2,
    .row2-item3 {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .objectives-grid {
        width: 100%;
    }
}

@media(max-width: 500px) {
    .rect {
        height: 38px;
        width: 38px;
    }

    .title {
        font-size: 55px;
    }

    .moon-grid {
        grid-template-columns: 1fr;
    }

    .aplicacao-image {
        height: 200px;
    }

    .objectives-grid {
        margin: 20px 0;
    }

    .objective-img {
        margin: 8px;
    }

    .objective {
        padding: 15px;

        p {
            display: none;
        }
    }

    .aplicacao-cta-buttons {
        flex-direction: column;
    }
}

@media(max-width: 430px) {
    .rect {
        height: 30px;
        width: 30px;
    }
}

@media(max-width: 370px) {
    .grid {
        transform: rotate(90deg);
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .buttons {
        flex-direction: column;
    }
}